<div class="container-fluid" style="margin-top:80px;">
    <!-- login form -->
    <form class="form-basic" name="loginForm" ng-submit="login()">
        <!--title-->
        <div class="form-title-row">
            <h1 class="text-uppercase">ĐĂNG NHẬP HỆ THỐNG</h1>
        </div>

        <!--body-->
        <div class="form-group">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" class="form-control" ng-model="username" id="username" autocomplete="off" required autofocus>
        </div>

        <div class="form-group">
            <label for="password">MẬT KHẨU:</label>
            <input type="password" class="form-control" ng-model="password" id="password" autocomplete="off" required>
        </div>

        <!--button submit-->
        <button type="submit"class="btn btn-primary btn-block">
        <h4 class="text-white">ĐĂNG NHẬP</h4>
		</button>
    </form>

</div>