<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Danh sách phim</h3>
                <p class="text-subtitle text-muted"></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="film in films"> 
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="card-title">{{film.Title}}</h4>
                        <p class="card-text">
                            {{film.Description}}
                        </p>
                    </div>
                    <img class="img-fluid w-100" src="assets/images/{{film.Poster}}" alt="{{film.Alias}}">
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <span>Thể loại: {{film.CategoryName}}</span>
                    <a ui-sref="movie-theater({cinemaId: cinemaId, filmId: film.Id})" class="btn btn-light-primary">Đặt vé</a >
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function initDataTable() {
        // Simple Datatable
        let tableCinema = document.querySelector('#tableCinema');
        let dataTable = new simpleDatatables.DataTable(tableCinema);
    }
</script>