<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Danh sách rạp phim</h3>
                <p class="text-subtitle text-muted"></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tên rạp</th>
                            <th>Tổng số ghế</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="movieTheater in movieTheaters">
                            <!-- <td><a ui-sref="cinema-detail({cinemaId: cinemar.Id})">{{cinemar.Name}}</a></td> -->
                            <td><a  ui-sref="seat({cinemaId, filmId,movieTheaterId: movieTheater.Id})">{{movieTheater.Name}}</a></td>
                            <td>{{movieTheater.HorizontalSeats * movieTheater.VerticalSeats}}</td>
                            <td>
                                <span ng-class="{'badge bg-danger': movieTheater.Deleted, 'badge bg-success': !movieTheater.Deleted}">{{movieTheater.Deleted ? 'Ngưng hoạt động' : 'Hoạt động'}}</span>
                                <!-- <span class="badge {{movieTheater.Deleted ? 'bg-danger' : 'bg-success'}}">{{movieTheater.Deleted ? 'Ngưng hoạt động' : 'Hoạt động'}}</span> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<script>
    function initDataTable() {
        // Simple Datatable
        let tableCinema = document.querySelector('#tableCinema');
        let dataTable = new simpleDatatables.DataTable(tableCinema);
    }
</script>